# API URLs para producción
REACT_APP_AUTH_SERVICE_URL=https://tu-auth-service-url.com
REACT_APP_SERVICES_CATALOG_URL=https://tu-services-catalog-url.com
REACT_APP_APPOINTMENTS_SERVICE_URL=https://tu-appointments-service-url.com
REACT_APP_REVIEWS_SERVICE_URL=https://tu-reviews-service-url.com
REACT_APP_PETS_SERVICE_URL=https://tu-pets-service-url.com
